<div class="create container-fluid">

  <!-- <div class="alert alert-success alert-dismissable fade in" ng-show="mySubmit">
    <a onclick="history.go(0)" VALUE="Refresh" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h5><strong>Success!</strong> You have deleted a new student. </h5>
    <button onclick="history.go(0)" type="button" name="button" class="btn btn-default"> Delete Another </button>
  </div> -->

  <h1>Delete Student</h1><br>
   
		<form ng-submit="$ctrl.deleteStudent(newStudent)"
		 	class="form-group">
			 <select ng-options="student as student.fullName for student in $ctrl.current.students track by student._id" 
			 	ng-model="$ctrl.selectedStudent" 
			 	id="newStudent">	
			 </select>
       <br>
    	<input class="btn btn-primary" 
    	value="Delete {{$ctrl.selectedStudent.fullName}}?"
    	type="submit" >
    </form>
    <br>
  </div>
<!-- 
	<div>
		<input onclick="history.back(-1)" class="btn btn-default" type="submit" value="Go Back">
	</div> -->
</div>
