
<body class="container-fluid index-section">
	<div class="container">
		<div class="row slider" id="tabs-home" style="">
			<!-- tab content -->


			<div class="col-sm-12 tab-content container" id="wea">
				<div class="tab-pane active text-style fade in active container" id="tab1">
					<h2>GRADEBOOK SOFTWARE FOR THE MODERN TEACHER</h2>

					<p><strong>Made for teachers, by teachers!</strong>
					</p>


					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
							</h3>
						</div>


						<div class="panel-body">
							<div class="row features-home-right">
								<div class="col-md-5">
									<center>
										<i aria-hidden="true" class="fa fa-clock-o fa-6"></i>
									</center>
								</div>


								<div class="col-md-7">
									<div class="color">
										<h3>Less Time Grading, More Time Teaching</h3>

										<h4>the most advanced grading software on market</h4>

										<p>Reduce grade entry and calculation time using Gradely. Designed for teachers by teachers, our software
										takes the pain out of manual grade entry, assignment averaging and more!</p>
									</div>


									<div>
										<a class="btn btn-primary btn-lg" href="#!/signup" type="submit">Sign Up Today!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row press-quotes">
		</div>

		<div class="row steps">
			<h3 class="heading">3 easy steps to get started!</h3>
			<br>


			<div class="col-md-4">
				<center>
					<i aria-hidden="true" class="fa fa-user-plus fa-4"></i>

					<h4>Sign Up</h4>
				</center>
			</div>


			<div class="col-md-4">
				<center>
					<i aria-hidden="true" class="fa fa-laptop fa-4"></i>

					<h4>Import Your Gradebook</h4>
				</center>
			</div>


			<div class="col-md-4">
				<center>
					<i aria-hidden="true" class="fa fa-pencil-square-o fa-4"></i>

					<h4>Enter Grades Faster Than Ever</h4>
				</center>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 one-column-text">
				<center>
					<h2 style="font-size:36px;">Serving Individual Teachers</h2>


					<h3 style="font-size:24px;">Individual Schools and Entire School Districts</h3>
				</center>
			</div>
		</div>


		<div class="row buttons-who-we-are">
			<div>
        <center>
				<a class="btn btn-primary btn-lg" ui-sref="signup" type="submit">Teacher Registration</a>
      </center>
			</div>

		</div>

	</div>
</body>
