<div class="signup-section container-fluid">
  <h2>Signup</h2><br>

  <form ng-submit="$ctrl.addNewUser()" class="form-group" id="newUser">
    <label>Email:</label>
    <input class="form-control" type="text" ng-model="$ctrl.newUser.email" name="email"><br>

    <label>Username:</label>
    <input class="form-control" type="text" ng-model="$ctrl.newUser.username" name="username"><br>

    <label>Password</label>
    <input class="form-control" type="text" ng-model="$ctrl.newUser.password" name="password"><br>

    <input class="btn btn-primary" type="submit"
     value="Submit">
  </form>
  <br>

  <p>Already have an account? <a ui-sref="login">Log in here.</a> </p>

</div>
